# dependencies
/node_modules

# production
/dist

# Vite cache
/.vite

# local env files
.env*
!.env.example

# macOS
.DS_Store

# log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# editor folders
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# system files
Thumbs.db

# coverage directory used by testing tools
coverage/

# Optional: Linux/macOS trash
.Trash-*

# Optional: Windows trash
$RECYCLE.BIN/

# Optional: JetBrains Rider & WebStorm files
/.idea/
